aws-lambda-types==0.2.1
boto3==1.40.62
boto3-stubs==1.40.62
botocore==1.40.62
botocore-stubs==1.40.62
jmespath==1.0.1
mypy-boto3-cloudformation==1.40.57
mypy-boto3-dynamodb==1.40.56
mypy-boto3-ec2==1.40.61
mypy-boto3-lambda==1.40.61
mypy-boto3-rds==1.40.50
mypy-boto3-s3==1.40.61
mypy-boto3-sqs==1.40.61
python-dateutil==2.9.0.post0
s3transfer==0.14.0
six==1.17.0
types-awscrt==0.28.2
types-s3transfer==0.14.0
typing-extensions==3.10.0.2
urllib3==2.5.0
