service: "${env:PROJECT_NAME}-orders"

provider:
  name: "aws"
  runtime: "python3.13"
  memorySize: 512
  timeout: 20
  iam:
    role: "arn:aws:iam::${env:AWS_USER_ID}:role/LabRole"
  environment:
    PROJECT_NAME: "${env:PROJECT_NAME}"
    STAGE: "${env:STAGE}"
    AWS_APIGW_DOMAIN: "${env:AWS_APIGW_DOMAIN}"
    AWS_APIGW_STAGE: "${env:AWS_APIGW_STAGE}"
    AWS_SFN_ARN: "${env:AWS_SFN_ARN}"

custom:
  pythonRequirements: {}

functions:
  put_order_task_token:
    handler: "functions/put_order_task_token.handler"

  start_order_execution:
    handler: "functions/start_order_execution.handler"
    events:
      - eventBridge:
          pattern:
            source: ["${env:PROJECT_NAME}.orders"]
            detail-type: ["order.created"]

  resume_order_workflow:
    handler: "functions/resume_order_workflow.handler"
    events:
      - eventBridge:
          pattern:
            source: ["${env:PROJECT_NAME}.orders"]
            detail-type: ["order.status_updated"]

  broadcast_order_created:
    handler: "functions/websocket/broadcast_order_created.handler"
    events:
      - eventBridge:
          pattern:
            source: ["${env:PROJECT_NAME}.orders"]
            detail-type: ["order.created"]

  broadcast_order_status:
    handler: "functions/websocket/broadcast_order_status.handler"
    events:
      - eventBridge:
          pattern:
            source: ["${env:PROJECT_NAME}.orders"]
            detail-type: ["order.status_updated"]

  get_status:
    handler: "functions/get_status.handler"
    events:
      - http:
          path: "/"
          method: "get"
          cors: true

  get_orders:
    handler: "functions/get_orders.handler"
    events:
      - http:
          path: "/{tenant_id}/orders"
          method: "get"
          cors: true
          authorizer:
            arn: "${env:AWS_AUTHENTICATE_USER_ARN}"
            type: "request"
            identitySource: "method.request.header.Authorization"
            resultTtlInSeconds: 0

  get_order:
    handler: "functions/get_order.handler"
    events:
      - http:
          path: "/{tenant_id}/orders/{order_id}"
          method: "get"
          cors: true
          authorizer:
            arn: "${env:AWS_AUTHENTICATE_USER_ARN}"
            type: "request"
            identitySource: "method.request.header.Authorization"
            resultTtlInSeconds: 0

  create_order:
    handler: "functions/create_order.handler"
    events:
      - http:
          path: "/{tenant_id}/orders"
          method: "post"
          cors: true
          authorizer:
            arn: "${env:AWS_AUTHENTICATE_USER_ARN}"
            type: "request"
            identitySource: "method.request.header.Authorization"
            resultTtlInSeconds: 0

  update_order_status:
    handler: "functions/update_order_status.handler"
    events:
      - http:
          path: "/{tenant_id}/orders/{order_id}/status"
          method: "patch"
          cors: true
          authorizer:
            arn: "${env:AWS_AUTHENTICATE_USER_ARN}"
            type: "request"
            identitySource: "method.request.header.Authorization"
            resultTtlInSeconds: 0

  websocket_connect:
    handler: "functions/websocket/connect.handler"
    events:
      - websocket:
          route: "$connect"

  websocket_disconnect:
    handler: "functions/websocket/disconnect.handler"
    events:
      - websocket:
          route: "$disconnect"

  websocket_subscribe:
    handler: "functions/websocket/subscribe.handler"
    events:
      - websocket:
          route: "subscribe"
          routeResponseSelectionExpression: "$default"
